.create-todo {
    height: 94vh;
    overflow: auto;
}

.create-todo h3 {
    font-size: 28px;
}

.create-todo form {
    max-width: 600px;
    margin: 30px auto;
}

.create-todo label {
    text-align: left;
    display: block;
}

.create-todo input, .create-todo textarea {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    font-family: 'Arial';
    display: block;
}

.create-todo .button-container {
    text-align: center;
    margin-top: 35px;
}

.create-todo .button-container button {
    width: 50%;
    color: white;
    background: orange;
    border: 0;
    padding: 8px;
    margin-bottom: 50px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 20px;
}

.create-todo .button-container button:hover {
    background: orangered;
}

.create-todo .image-container {
    position: relative;
}

.create-todo .image-container span {
    border: 0;
    border-radius: 50%; 
    background-color: silver;
    padding: 5px 10px;
    position: absolute;
    cursor: pointer;
    font-size: 26px;   
    right: 10px;
    top: 10px;
}  

.create-todo .image-container span:hover {
    background: lightgrey;
}  

.create-todo .image-container img {
    width: 600px;
    border: 1px solid black;
    height: 300px;
}