.home-container {
    height: 94vh;
    overflow: auto;
}

.home-container input {
    display: block;
    width: 35%;
    margin: 30px auto;
    padding: 10px;
}

.home-container .todo-list:last-child {
    margin-bottom: 50px;
}