.register-container {
    height: 100vh;
    overflow: auto;
    align-items: center;
    display: flex;
}

.register-container h1 {
    margin: auto;
    margin-top: 20%;
}
.register-container form {
    margin: auto;
    margin-top: 50px;
}

.register-container h3 {
   font-size: 28px;
   margin-left: 25px;
}

.register-container input {
   display: block;
   padding: 10px;
   margin: 10px 0;
   width: 85%;
}

.register-container .button-container {
   text-align: center;
   margin-top: 35px;
}

.register-container button {
   width: 55%;
   font-size: 20px;
   cursor: pointer;
   padding: 8px;
   color: white;
   background: orange;
   border: 0;
   border-radius: 8px;
}

.register-container button:hover {
   background: orangered;
}
.register-container h4 {
   font-size: 20px;
   padding-top: 50px;
}