.navbar {
    background: lightpink;
    height: 6vh;
    padding: 20px;
    display: flex;
    align-items: center;
}

.navbar .navbar-title {
    color: #64500f;
    cursor: pointer;
}

.navbar .navbar-title:hover {
    color: #a48213;
}

.navbar .button-container {
    margin-left: auto;
    align-items: center;
    display: flex;
}

.navbar i {
    width: 42px;
    height: 42px;
    font-size: 26px;
    margin-top: 15px;
    margin-left: 15px;
    cursor: pointer;
}

.navbar i:hover {
  color: white;
}

.navbar .add-todo-button {
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: orange;
    color: white;
    font-size: 26px;
    width: 42px;
    height: 42px;
}

.navbar .add-todo-button:hover {
    background: orangered;
}