.navbar {
    background: lightpink;
    min-height: 30px;
    padding: 20px;
    display: flex;
    align-items: center;
}

.navbar .navbar-title {
    color: #64500f;
    cursor: pointer;
}

.navbar .navbar-title:hover {
    color: #a48213;
}

.navbar .logout {
    margin-left: auto;
}

.navbar .logout button {
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

.navbar .logout button:hover {
  background: #918b8b;
  color: white;
}

.navbar .add-todo {
    margin-left: auto;
}

.navbar .add-todo button {
    border-radius: 50%;
    cursor: pointer;
    border: none;
    background: orange;
    color: white;
    font-size: 26px;
    width: 42px;
    height: 42px;
}

.navbar .add-todo button:hover {
    background: orangered;
}